.main-nav {
  display: grid;
  grid-template-areas:
    'name'
    'agenda'
    'contact-list';
  align-items: center;
  padding-inline: var(--padding-inline);
}

.main-nav_name {
  grid-area: name;

  padding-block: var(--gap);
}
.main-nav_btn {
  display: none;
}

.main-nav_agenda {
  grid-area: agenda;

  display: flex;
  flex-direction: column;
  gap: var(--gap);
  border-block: var(--border);
  padding-block: var(--gap);
}

.main-nav_contact-list {
  grid-area: contact-list;

  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding-block: var(--gap);
}
.contact-list_icons {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

/****************
 * Media queries
 ****************/
@media (max-width: 1366px) {
  .main-nav {
    grid-template-areas: 'name . contact-list' 'agenda agenda agenda';
    grid-template-columns: auto 1fr auto;
    border-block-end: var(--border);
  }

  .main-nav_agenda,
  .main-nav_contact-list {
    flex-direction: row;
    justify-content: center;
    padding-block: var(--gap);
  }

  .main-nav_agenda {
    border-block-end: none;
  }

  .main-nav_contact-list {
    align-items: center;
  }
}

@media (max-width: 720px) {
  .main-nav {
    grid-template-areas: 'name . btn' 'agenda agenda agenda' 'contact-list contact-list contact-list';
    gap: 0;
    border-block-end: none;
  }
  .main-nav_btn {
    display: block;
    grid-area: btn;
  }
  .main-nav_agenda,
  .main-nav_contact-list {
    flex-direction: column;
    display: none;
  }
  .main-nav_contact-list {
    border-top: var(--border);
    align-items: flex-start;
    border-block-end: var(--border);
  }
}

/*************
 * js classes
 *************/
.show-flex {
  display: flex;
}
