.projects {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.projects_main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: var(--section-padding-block);
  font-size: 4rem;
}

.project {
  display: flex;
  flex-direction: column;
  padding: var(--section-padding-block) 2rem;
  gap: 5rem;
  border-bottom: var(--border);
}
.project:last-of-type {
  border-bottom: none;
}

.projects_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects_header-prefix {
  color: var(--blue-600);
  margin-inline-end: 1rem;
}

.projects_description {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  max-inline-size: 30rem;
  color: var(--text-500);
  font-weight: 500;
  font-size: 1.25rem;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-self: center;
}
.projects_screenshot {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
  border: var(--border);
  border-radius: var(--border-radius-500);
  transition: transform 0.1s ease-in-out;
}
.projects_screenshot:hover {
  transform: scale(1.01);
}

@media (max-width: 1100px) {
  .projects_main-header {
    font-size: 3rem;
  }
  .projects {
    gap: calc(4 * var(--gap));
  }
  .projects_header {
    flex-direction: column;
    gap: calc(4 * var(--gap));
    align-items: flex-start;
  }
}
