.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  min-inline-size: 200px;
  block-size: 100vh;
  font-weight: 450;
  background-color: var(--bg-100);
}
.side-nav > * {
  border-bottom: 1px solid var(--border-color);
}
.side-nav ul {
  list-style: none;
  margin-block: 0;
  padding-inline: 0;
}
.side-nav p {
  font-weight: 500;
  margin-block: 0;
  padding: var(--padding);
}

.side-nav_agenda {
  padding-block-end: var(--padding);
}
.side-nav_agenda li {
  padding-inline: var(--padding);
  padding-block-start: var(--padding);
  cursor: pointer;
}
.side-nav_agenda li:hover {
  filter: opacity(0.5);
}

.contact-list {
  padding-block-end: var(--padding);
  color: var(--text-100);
  font-weight: 500;
}
.contact-list > * {
  padding-inline: var(--padding);
  padding-block-start: var(--padding);
}
.contact-list img {
  inline-size: 80px;
}
.contact-list_icons {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-inline-start: -5px;
}
